@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #EE4266;
    background-color: white;
}

/* Projets */
.photo-container{
    display: grid;
    grid-template-rows:auto;
    grid-template-areas:
    "bloccaudalie blocairbnb blocetam"
    "blocafricall blochm blocohmycafe";
    gap: 20px ;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 20px;
    background-size: cover;
    transform: scale(1);
    transition: transform 300ms ease;
    border-radius: 5px solid red;

  }
  

  .photo-container div:hover{
    filter: brightness(90%);
    transform: scale(1.02);
  }

.bloccaudalie{
    background-image: url(images/caudalie.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    grid-area: bloccaudalie; 
}

.blocairbnb{
    background-image: url(images/airbnb.png);
    background-size: cover;
    grid-area: blocairbnb; 
    width: 400px;
    height: 400px;
}

.blocetam{
    background-image: url(images/etam.png);
    background-size: cover;
    grid-area: blocetam; 
    width: 400px;
    height: 400px;
}

.blocafricall{
    background-image: url(images/africall.png);
    background-size: cover;
    grid-area: blocafricall; 
    width: 400px;
    height: 400px;
}

.blochm{
    background-image: url(images/hm.png);
    background-size: cover;
    grid-area: blochm; 
    width: 400px;
    height: 400px;
}

.blocohmycafe{
    background-image: url(images/ohmycafe.png);
    background-size: cover;
    grid-area: blocohmycafe; 
    width: 400px;
    height: 400px;
}

.photo-container p{
    text-align: center;
    background-color:red ;
    color: white;

}

/* Projets */
